<div class="container">
	<div class="row">
		<% if @user.errors.any? %>
		  <div class="alert alert-danger">
		  	<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: </h2>
		  	<ul>
		  		<% @user.errors.full_messages.each do |message| %>
		  		  <li><%= message %></li>
		  		<% end %>
		  	</ul>
		  </div>
		<% end %>
	</div>
	<div class="row">
	<div class="col-lg-3">
	<h2>User info</h2>
	<%= form_for(@user) do |f| %>
	<div>
		<label>Name</label>
		<%= f.text_field :name, placeholder:"name" %>
	</div>
	<div>
		<h2>Image</h2>
		<div>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
		</div>
		<%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>
	</div>
	<div>
		<h2>Introduction</h2>
		<%= f.text_area :introduction %>
	</div>
	<%= f.submit "Update User" %>
	<% end %>
	</div>
	</div>
</div>